{%for column in editor.columns%}
    {% if column.input_type == 'button' %}
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">{{column.name}}</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                {% include 'actionBtn.html'  with {'btn':column.input} %}
            </div>
        </div>

    {% elseif column.input.hidden  %}
        <input type="hidden" name="{{column.input.field}}" value="{{column.input.value}}">
    {% else %}
        <div class="form-group" {% if not column.show %}style="display: none"{% endif %}>
            <!--Bla bla bla bla bla. &#013;Bla bla bla bla bla.Bla bla bla.-->
            <label class="control-label col-md-3 col-sm-3 col-xs-12" title="{{column.help}}">
                {{column.name}}{% if column.input.required %}*{% endif %}
                {% if column.help %}<i class="fa fa-info"></i>{% endif %}
            </label>

            <div class="col-md-9 col-sm-9 col-xs-12">
                {% if column.input_type == 'html' %}
                    {{column.input.html | raw}}
                {% elseif column.input_type == 'input' %}
                    <!--инпут-->
                    {% if column.input.type == 'checkbox' %}
                        <input type="hidden" value="0" name="{{column.input.field}}">
                        <input style="height: 25px; width: auto;" type="checkbox" value="1"
                               name="{{column.input.field}}"
                            {% if column.input.id %} id="{{column.input.id}}" {% endif %}
                            {% if column.input.onchange %} onchange="{{column.input.onchange}}" {% endif %}
                            {% if column.input.value %} checked {% endif %}
                            {% if column.input.disable %} disabled {% endif %}
                            class="form-control">
                    {% else %}


                        <input type="{{column.input.type}}"
                               name="{{column.input.field}}"
                               {% if column.input.oninput %} oninput="{{column.input.oninput}}" {% else %} oninput="InputField.input(this)" {% endif %}
                               {% if column.input.autocomplete %} autocomplete="on" {% else %} autocomplete="off" {% endif %}
                               {% if column.input.rest_autocomplete %}
                                    data-autocomplete="{{column.input.rest_autocomplete.fill_id}}"
                                    data-autocomplete-fill="{{column.input.rest_autocomplete.fill}}"
                                    data-autocomplete-add="{{column.input.rest_autocomplete.add_params}}"
                                    autocomplete="off"
                               {% endif %}

                               {% if column.input.id %} id="{{column.input.id}}" {% endif %}
                               {% if column.input.onchange %} onchange="{{column.input.onchange}}" {% endif %}

                               {% if column.input.pattern_input %} data-format="{{column.input.pattern_input}}" {% endif %}
                               placeholder="{{column.input.placeholder}}"
                            {% if column.input.pattern %} pattern="{{column.input.pattern}}" {% endif %}
                            {% if column.input.disable %} disabled {% endif %}

                            {% if column.input.min != -1 %}
                                {% if column.input.type == 'text' %}
                                    minlength="{{column.input.min}}"
                                {% else %}
                                    min="{{column.input.min}}"
                                {% endif %}
                            {% endif %}

                            {% if column.input.type == 'number' %}
                                step="{{column.input.step}}"
                            {% endif %}

                            {% if column.input.max != -1 %}
                                {% if column.input.type == 'text' %}
                                    maxlength="{{column.input.max}}"
                                {% else %}
                                    max="{{column.input.max}}"
                                {% endif %}
                            {% endif %}

                            value="{{column.input.value}}"

                            {% if column.input.required %} required {% endif %}
                            class="form-control">
                        {% endif %}

                        {% if column.input.max != -1 and column.input.type == 'text' %}
                            <label data-name-field="{{column.input.field}}">0/0</label>
                        {% endif %}

                        {% if column.input.autocomplete %} <input type="hidden" value="" name="autocomplete_id"> {% endif %}
                {% elseif column.input_type == 'time' %}
                    <input name="{{column.input.field}}_from" type="time" class="form-control" size="8"
                           {% if column.input.value %}value="{{column.input.value}}"{% endif %}
                           {% if column.input.id %} id="{{column.input.id}}" {% endif %}
                           {% if column.input.onchange %} onchange="{{column.input.onchange}}" {% endif %}
                    >
                {% elseif column.input_type == 'interval_time' %}
                    <input name="{{column.input.field}}_from"
                           type="time" class="form-control"  style="display: inline; width: auto;" size="10"
                           {% if column.input.value %}value="{{column.input.value}}"{% endif %}
                           {% if column.input.required %} required {% endif %}
                           onchange="document.getElementById('{{column.input.field}}_to').focus()">
                    <label>-</label>
                    <input id="{{column.input.field}}_to" name="{{column.input.field}}_to" type="time" class="form-control"  style="display: inline; width: auto;" size="10"
                           {% if column.input.required %} required {% endif %}
                           {% if column.input.value2 %}value="{{column.input.value2}}"{% endif %}>
                {% elseif column.input_type == 'interval_date' %}
                    <input name="{{column.input.field}}_from" type="text" class="form-control"  style="display: inline; width: auto;" size="10" data-range="from"
                           {% if column.input.required %} required {% endif %}
                           {% if column.input.value %}value="{{column.input.value}}"{% endif %}>
                    <label>-</label>
                    <input id="{{column.input.field}}_to" name="{{column.input.field}}_to" type="text" class="form-control"  style="display: inline; width: auto;" size="10" data-range="to"
                           {% if column.input.required %} required {% endif %}
                           {% if column.input.value2 %}value="{{column.input.value2}}"{% endif %}>
                {% elseif column.input_type == 'textarea' %}
                    <textarea name="{{column.input.field}}"
                              rows="{{column.input.count_rows}}"
                              class="form-control"
                              {% if column.input.oninput %} oninput="{{column.input.oninput}}" {% else %} oninput="InputField.input(this)" {% endif %}
                              {% if column.input.id %} id="{{column.input.id}}" {% endif %}
                              {% if column.input.onchange %} onchange="{{column.input.onchange}}" {% endif %}
                              {% if column.input.max %} maxlength="{{column.input.max}}" {% endif %}
                              {% if column.input.required %} required {% endif %}
                              {% if column.input.disable %} disabled {% endif %}>{{column.input.value}}</textarea>
                    {% if column.input.max %}
                        <label data-name-field="{{column.input.field}}">0/0</label>
                    {% endif %}
                {% elseif column.input_type == 'select' %}
                    {% if column.input.addble %} <div> {% endif %}
                    <select name="{{column.input.field}}{% if column.input.multiple %}[]{% endif %}"
                        size="{{column.input.size}}"
                        data-value="{{column.input.value}}"
                        {% if column.input.id %} id="{{column.input.id}}" {% endif %}
                        {% if column.input.onchange %} onchange="{{column.input.onchange}}" {% endif %}
                        {% if column.input.required %} required {% endif %}
                        {% if column.input.disable %} disabled {% endif %}
                        {% if column.input.multiple %} multiple="multiple" {% endif %}
                        {% if column.input.addble %} style="display: inline; width: 80%;" data-addble="1" {% endif %}
                        class="select2_multiple form-control">

                        {%for option in column.input.options%}
                            {% if column.input.multiple %}
                                <option value="{{option.value}}" {% if option.value in column.input.value %} selected {% endif %} >{{option.text}}</option>
                            {% else %}
                                <option value="{{option.value}}" {% if column.input.value == option.value %} selected {% endif %} {% if option.add %} data-add="{{option.add}}" {% endif %}>{{option.text}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    {% if column.input.addble %}
                            <a class="btn btn-success" style="position: absolute;right: 10px;" onclick="editor.addField(this)"><i class="fa fa-plus-square-o"></i></a>
                        </div>
                    {% endif %}

                    {% if column.input.addble %}
                        <div style="margin-top: 16px;margin-left: 20px;" data-add="wr_list">
                            {%for select in column.input.selects%}
                                <div data-add="item">
                                    <input type="hidden" name="{{select.field}}" value="{{select.id}}">
                                    <label>{{select.name}}</label>
                                    {% if select.input %}
                                        <input name="{{select.input.field}}" type="number" value="{{select.input.value}}" style="right: 20%;width: 5em;padding: 0px; position: absolute;" >
                                    {% endif %}
                                    {% if select.delete %}
                                        <a class="btn btn-warning" style="position: absolute;right: 10px;" onclick="editor.delField(this)"><i class="fa fa-trash-o"></i></a>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                {% elseif column.input_type == 'file'%}
                    {% if not column.input.disable %}
                        <a style="display: inline-block;" onclick="document.querySelector('input[data-id={{column.input.field}}]').click()" class="btn btn-success btn-xs">
                            <i class="fa fa-upload"></i>{{editor.words.select}}
                        </a>
                        {% if column.input.file %}
                            <a style="display: inline-block;" class="btn btn-xs" href="{{column.input.file.url_icon}}" target="_blank" download="{{column.input.file.name}}">
                                <i class="fa fa-download"></i>{{editor.words.download}}
                            </a>

                            <a style="display: inline-block;" onclick="fileHandler.delFile(this)" data-field="{{column.input.field}}" class="btn btn-danger btn-xs">
                                <i class="fa fa-trash"></i>{{editor.words.delete}}
                            </a>
                            <input type="hidden" value="0" name="del_{{column.input.field}}">
                        {% endif %}


                        <input
                                data-id="{{column.input.field}}"
                               data-action="file_upload"
                               {% if column.input.required %} required {% endif %}
                               {% if column.input.multiple %}
                                    multiple
                                    name="{{column.input.field}}[]"
                               {% else %}
                                    name="{{column.input.field}}"
                               {% endif %}
                               {% if column.input.accept %} accept="{{column.input.accept}}" {% endif %}
                               data-min-size="{{column.input.min_size}}"
                               data-max-size="{{column.input.max_size}}"
                               {% if column.input.size %} data-size="{{column.input.size}}" {% endif %}
                               type="file"
                               onchange="fileHandler.newFile(this)"
                               style="display: none">
                    {% endif %}


                    <div class="col-md-8 col-sm-8 col-xs-8" style="padding-left: 0px; width: 100%;" data-wrapper-name="{{column.input.field}}">
                        {% if not column.input.disable %}
                            {% if column.input.file %}
                                <div class="block_file">
                                    <div>
                                        <img data-file-item="{{column.input.file.name}}" src="{{column.input.file.url_icon}}" class="{{column.input.file.clas}}" style="max-width: 100px">
                                        <i style="position: absolute;" class="fa icon-action" data-icon-action="{{column.input.file.name}}"></i>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% elseif column.input_type == 'color'%}
                    <input type="text" name="{{column.input.field}}" data-name="color" value="{{column.input.value}}" style="display: none">
                    <div  class="col-md-8 col-sm-8 col-xs-8" style="padding-left: 0px; width: 100%;" data-wrapper-name="{{column.input.field}}">
                        <div class="x_title">
                            <iframe data-field="{{column.input.field}}" width="100%" height="320px"  frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="/disp/statepage//col.html"></iframe>
                        </div>
                    </div>

                {% elseif column.input_type == 'geoaddress'%}

                    <input autocomplete="off" type="text" name="{{column.input.field}}"
                           oninput="InputField.input(this)"
                           data-autocomplete-geo=""
                           data-action="geo_autocmplete"
                           value="{{column.input.value}}" {% if column.input.required %} required {% endif %} class="form-control">

                    <input type="hidden" name="lat" value="{{column.input.lat}}">
                    <input type="hidden" name="lng" value="{{column.input.lng}}">

                    <div  class="col-md-8 col-sm-8 col-xs-8" style="padding-left: 0px; width: 100%;" data-wrapper-name="{{column.input.field}}">
                        <div class="x_title">
                            <ul class="nav navbar-right panel_toolbox">
                                <li >
                                    <a class="collapse-link fa fa-chevron-up" data-table="collapse" onclick="DomHandler.classTransition(this, ['fa-chevron-up', 'fa-chevron-down'], this.closest('div').querySelector('iframe'), ['show', 'hide'])"></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>

                            <iframe class="hide" data-field="{{column.input.field}}" width="100%" height="300px"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                                    src="/disp/statepage/omap.html?lat={{column.input.lat}}&lng={{column.input.lng}}"
                            ></iframe>
                        </div>
                    </div>
                {% endif %}

            </div>
        </div>
    {% endif %}
{% endfor %}

<div class="ln_solid"></div>

<div class="form-group">
    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
        {%for btn in editor.actionsBtn%}
            <a style="display: inline-block;"
               {%if btn.onclick %}
                    onclick="{{btn.onclick}}"
               {% else %}
                    {%if btn.action %} data-action="{{btn.action}}" {% endif %}
                    {%if btn.server_action %} data-server-action="{{btn.server_action}}" {% endif %}
                    {%if btn.table %} data-table="{{btn.table}}" {% endif %}
                    {%if btn.table_parent %} data-tp="{{btn.table_parent}}" {% endif %}
                    {%if btn.href %} href="{{btn.href}}&tp_id={{row.id}}" {% endif %}
                    {%if btn._blanc %} target="_blank" rel="noopener noreferrer"{% endif %}
                    {%if btn.msg %} data-msg="{{btn.msg}}" {% endif %}
                    {%if btn.url_copy %} data-copy="{{btn.url_copy}}" {% endif %}
               {% endif %}
                    class="btn {{btn.color}}">
                <i class="fa {{btn.icon}}"></i>&nbsp;{{btn.text}}
            </a>
        {% endfor %}
    </div>
</div>
