<div class="x_panel" id="panel">
    <div class="x_title">
        <h2>{{editor.title}}</h2>
        <!--<ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link fa fa-chevron-up" data-table="collapse"></a>
            </li>
        </ul>-->
        <!--load table editor-->
        <div class="clearfix"></div>
    </div>


    <div class="x_content animated fadeInDown">
        <br>
        <form class="form-horizontal form-label-left">
            <input type="hidden" name="id" value="{{editor.id}}">
            <input type="hidden" name="table" value="{{editor.table}}">
            {% include 'editor_common.html' %}
        </form>
    </div>
</div>

<script>
    var content=null;

    EvPageShow.add1 = function (){
        //console.log(11);
        content = new Editor({
                id:-1,
                type:'page',
                table:UtilAdmin.getParamsURL('e')
            },
            'wrapper_content',
            function () {
                //console.log(12);
                location.reload()
            }
        );
    };
</script>