<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <a class="close" onclick="editor.hiden()"><span >×</span>
            </a>
            <h2 class="modal-title">{{editor.title}}</h2>
            <!--load editor-->
        </div>

        <div class="modal-body clearfix">
            <form class="form-horizontal form-label-left" {% if editor.onload %} onload="{{editor.onload}}" {% endif %}>
                <input type="hidden" name="id" value="{{editor.id}}">
                <input type="hidden" name="table" value="{{editor.table}}">
                {% include 'editor_common.html' %}
            </form>
        </div>
    </div>
</div>