{%for graphic in graphics%}
<div class="x_panel">
    <div class="x_title">
        <h2>{{graphic.title}}</h2>
        <!--<ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link fa fa-chevron-up" data-table="collapse"></a>
            </li>
        </ul>-->
        <div class="clearfix"></div>
    </div>


    <div class="x_content animated fadeInDown">
        <br>
        <form class="form-horizontal form-label-left">
            <canvas data-element="chart" data-graphic="{{graphic.data}}" data-type="{{graphic.type}}"></canvas>
        </form>
    </div>
</div>
{% endfor %}
<script>
    class Graphics
    {
        constructor(id, subData, wrapper='wrapper_content'){
            var self = this;
            this.ctx=[];
            this.myCharts=[];
            this.wrapper = document.getElementById(wrapper);

            this.data = {
                id:id,
                subData : subData
            };


            mRrequest('getGraphics', this.data, function (response) {
                self.wrapper.innerHTML = response.content;
                //data-element="chart" data-graphic="{{graphic.data}}" data-type="{{graphic.type}}"
                self.ctx = Array.from(self.wrapper.querySelectorAll('canvas[data-element]'));
                self._events();
            });
        }

        _events()
        {
            for (var i = 0; i < this.ctx.length; i++) {
                //console.log(this.ctx[i].getAttribute('data-graphic'));
                var dataInner = JSON.parse(this.ctx[i].getAttribute('data-graphic'));
                //console.log(dataInner);
                var type = this.ctx[i].getAttribute('data-type');
                this.myCharts.push(new Chart(this.ctx[i], {
                    type: type,
                    data: {
                        labels: dataInner.labels,
                        datasets: dataInner.datasets
                    },

                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                }));
            }
        }
    }
</script>