<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{activity.page.icon}}" type="image/ico">
  <title>{{activity.page.name}}</title>

  <!-- Bootstrap -->
  <link href="/disp/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/disp/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- NProgress -->
  <link href="/disp/vendors/nprogress/nprogress.css" rel="stylesheet">
  <!-- iCheck -->
  <link href="/disp/vendors/iCheck/skins/flat/green.css" rel="stylesheet">

  <!-- Custom Theme Style -->
  <link href="/disp/css/custom.css" rel="stylesheet">
  <script>
      var DEFAULT_LNG = '{{activity.language}}';
      var langSupport = JSON.parse('{{activity.languages | json_encode() | raw }}');
      console.log(langSupport);
  </script>
  <script src="/disp/js/UtilAdmin.js"></script>
</head>

<body class="login">
<div>
  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form>
          <h1>{{activity.page.name}}</h1>
          <iframe
                  src="{{activity.data.url_itneris}}"
                  style="height:670px;min-width:380px;border:none;overflow:hidden;"></iframe>

          <!--<div>
            <input class="login_content_submit btn btn-default submit" style="float: right;" value="Войти" type="button" onclick="openW()">
            <div class="clearfix"></div>
          </div>-->
          <div class="clearfix"></div>
        </form>
      </section>
    </div>
  </div>
</div>


<script>
  URL_API = '{{activity.api}}';

  window.addEventListener('message', function (res){
        //console.log(res.data);
        //signinС(res.data)
        //data.lang = USER_LANG;
        //console.log(JSON.stringify(d));
        //console.log(USER_LANG);

        var send =   {
            lang:USER_LANG,
            token:res.data
        };

        if (UtilAdmin.getParamsURL('refferral') != null){
            send.refferral = UtilAdmin.getParamsURL('refferral');
        }

        mRrequest('login', send, function (response){});
  }, false);

</script>
</body>

</html>
