<html class=" "><style type="text/css" id="night-mode-pro-style"></style><link type="text/css" rel="stylesheet" id="night-mode-pro-link"><head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{{activity.page.icon}}" type="image/ico">
	<title>{{activity.page.name}}</title>
	<!-- Bootstrap -->
	<link href="/disp/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="/disp/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<!-- NProgress -->
	<link href="/disp/vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- iCheck -->
	<link href="/disp/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
	<!-- Datatables -->
	<link href="/disp/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<link href="/disp/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
	<link href="/disp/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
	<link href="/disp/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
	<link href="/disp/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<!-- bootstrap-progressbar -->
	<link href="/disp/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">

	<!-- JQVMap -->
	<link href="/disp/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet">

	<!-- bootstrap-daterangepicker -->
	<link href="/disp/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">

	<!-- Custom Theme Style -->
	<link href="/disp/css/custom.css" rel="stylesheet">
	<link href="/disp/css/lightpick.css" rel="stylesheet">



	<script async src="https://buttons.github.io/buttons.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
	<script src="/disp/js/lightpick.js"></script>
	<script src="/disp/js/xlsx.mini.js"></script>

    <style>
        .show {
            display: block;
        }
        .hide {
            display: none;
        }



		.autocomplete {
			/*the container must be positioned relative:*/
			position: relative;
			display: inline-block;
		}
		input {
			border: 1px solid transparent;
			background-color: #f1f1f1;
			padding: 10px;
			font-size: 16px;
		}
		input[type=text] {
			background-color: #f1f1f1;
			width: 100%;
		}
		input[type=submit] {
			background-color: DodgerBlue;
			color: #fff;
		}
		.autocomplete-items {
			position: absolute;
			border: 1px solid #d4d4d4;
			border-bottom: none;
			border-top: none;
			z-index: 99;
			/*position the autocomplete items to be the same width as the container:*/
			top: 35px;
			left: 10px;
			right: 10px;
		}
		.autocomplete-items div {
			padding: 10px;
			cursor: pointer;
			background-color: #fff;
			border-bottom: 1px solid #d4d4d4;
		}
		.autocomplete-items div:hover {
			/*when hovering an item:*/
			background-color: #e9e9e9;
		}
		.autocomplete-active {
			/*when navigating through the items using the arrow keys:*/
			background-color: DodgerBlue !important;
			color: #ffffff;
		}


    </style>

	<script src="/disp/js/Chart.js?1"></script>
	<script>
        var DEFAULT_LNG = '{{activity.language}}';
        var langSupport = JSON.parse('{{activity.languages | json_encode() | raw }}');
        console.log(langSupport);
        var CONTENT = JSON.parse('{{activity.word | json_encode() | raw }}');
        var URL_API = '{{activity.api}}';

        function getContent(key) {
			if (CONTENT.hasOwnProperty(key)){
			    return CONTENT[key];
			} else {
			    return key;
			}
        }
	</script>

	<script src="/disp/js/UtilAdmin.js?1"></script>


	{% if activity.lib %}
		{%for item in activity.lib %}
			<script src="{{item}}"></script>
		{% endfor %}
	{% endif %}

</head>
<body class="nav-md">


<div class="modal fade add_car_modal_form in my_modal" style="display: none; height: auto;">
loader
</div>


<div class="container body" id="body_content">
	<div class="main_container">
		<div class="col-md-3 left_col" style="z-index: 1">
			<div class="left_col scroll-view" style="width: inherit">
				<div class="navbar nav_title">
					<!--<a class="site_title">
						{% if activity.user.avatar %}
							<img src="{{activity.user.avatar}}" style="width: 50px;">
						{% endif %}
						{% if activity.user.name %}
							<span style="color: #BAB8B8; font-size: 13px;">{{activity.user.name}}</span>
							<br>
							<span>{{activity.user.name}}</span>
						{% endif %}
					</a>
					-->
					<div class="profile clearfix">
						<div class="profile_pic">
							<img src="{{activity.user.avatar}}" alt="..." class="img-circle profile_img">
						</div>
						<div class="profile_info">
							<span>{{activity.user.post}}</span>
							<h2>{{activity.user.name}}</h2>
						</div>
					</div>
				</div>
				<div class="clearfix"></div>

				<!-- menu profile quick info -->
				{% if activity.info %}
					<div class="profile clearfix" style="margin-top: 10px;">
						<div class="profile_info">
							<div id="user_info_dynamix">
								{%for item in activity.info %}
									<p>{{item}}</p>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endif %}



				<!-- /menu profile quick info -->
				<br>
				<!-- sidebar menu -->
				<div class="main_menu_side hidden-print main_menu" role="menu">
					<div class="menu_section active">
						<ul class="nav side-menu" style="" >
							{%for item in activity.menu%}
								{% if item.subMenu %}
									<li class="" onclick="Menu.sub(this)">
										<a><i class="fa {{item.icon}}"></i>{{item.name}}<span class="fa fa-chevron-down"></span></a>
										<ul class="nav child_menu" style="display: none;">
											{%for subItem in item.subMenu %}
												<li  data-submenu-item="{{subItem.table}}"><a href="{{subItem.href}}">{{subItem.name}}</a></li>
											{% endfor %}
										</ul>
									</li>
								{% else %}
									<li data-menu-item="{{item.table}}">
										<a href="{{item.href}}"><i class="fa {{item.icon}}"></i>{{item.name}}</a>
									</li>
								{% endif %}
							{% endfor %}

							<li onclick="DomHandler.hiden(document.getElementById('wrapper_exit'))">
								<a><i class="fa fa-power-off"></i>{{activity.word.exit}}</a>
							</li>

						</ul>
					</div>
				</div>
				<!-- /sidebar menu -->
				<!-- /menu footer buttons -->
				<div class="sidebar-footer hidden-small">
				</div>
				<!-- /menu footer buttons -->
			</div>
		</div>

		<!--
		<input onchange="switch (Number(this.value)){case 3:document.getElementById('sum').value=6;case 6:document.getElementById('sum').value=5;case 12:document.getElementById('sum').value=7;}">
		-->
		<!-- /top navigation -->
		<div class="top_nav">
			<div class="nav_menu">
				<nav>
					<div class="nav toggle" onclick="DomHandler.classTransition(document.body, ['nav-md', 'nav-sm'])">
						<a><i class="fa fa-bars"></i></a>
					</div>
				</nav>
			</div>
		</div>

		<!-- page content -->
		<div class="right_col clearfix" role="main" style="min-height: 927px;">

			<!--main-->
			<div class="col-md-12 col-sm-12 col-xs-12" id="wrapper_content" style="display: block;">
				{% if activity.classBody == 'table' %}
					{% include 'table.html'  with {'table':activity.table} %}
				{% elseif activity.classBody == 'editor'%}
					{% include 'editor_table.html'  with {'table':activity.table} %}
				{% elseif activity.classBody == 'graph'%}
					{% include 'graphics.html'  with {'table':activity.table} %}
				{% endif %}
			</div>
			<div class="modal fade add_car_modal_form in my_modal" id="wrapper_modal_form" style="display: none; position: absolute; z-index: 1; height: fit-content"></div>
		</div>

		<!--modal-->
		<div class="modal fade logout_modal in" tabindex="-1" style="display: none; z-index: 10000" id="wr_modal">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<a class="close" onclick="DialogConfirm.hide()" ><span>×</span></a>
						<h4 class="modal-title" id="modal_msg"></h4>
					</div>
					<div class="modal-body clearfix">
						<a class="btn btn-primary" onclick="DialogConfirm.confirm()">{{activity.word.ok}}</a>
						<a class="btn btn-danger"  onclick="DialogConfirm.hide()">{{activity.word.cancel}}</a>
					</div>
				</div>
			</div>
		</div>

		<!--alert exit-->
		<div class="modal fade logout_modal in" tabindex="-1" style="display: none; z-index: 10000" id="wrapper_exit">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<a class="close" onclick="DomHandler.hiden(document.getElementById('wrapper_exit'))" ><span>×</span></a>
						<h4 class="modal-title" id="exit_text">Вы действительно хотите выйти?</h4>
					</div>
					<div class="modal-body clearfix">
						<a class="btn btn-primary" id="exit_ok" onclick="Menu.exit()">Ок</a>
						<a class="btn btn-danger" id="exit_czncel" onclick="DomHandler.hiden(document.getElementById('wrapper_exit'))">Отмена</a>
					</div>
				</div>
			</div>
		</div>
		<!-- /page content -->
		<input type="checkbox">
	</div>
</div>

<div id="calendar" style="display: none; position: fixed !important; height: 100vh !important; background: rgba(0, 0, 0, 0.18); z-index: 10000; top: 0; right: 0; bottom: 0; left: 0;">
    <iframe style="position: absolute; top: 0; right: 0;  bottom: 0; left: 0; margin: auto; background: white; border: 1px solid #000;"
			width="400px" height="700px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="">
    </iframe>
</div>


<script>
    var exelHandler = {
        /**
         * @param name
         * @param ws_data - [{nameSheet, dataSheet}, ]
         */
        download:function (name, ws_data) {
            var wb = XLSX.utils.book_new();
            wb.Props = {
                Title: "SheetJS Tutorial",
                Subject: "Test",
                Author: "Red Stapler",
                CreatedDate: new Date()
            };


            for (var i = 0; i < ws_data.length; i++) {
                wb.SheetNames.push(ws_data[i].nameSheet);
                //var ws_data = [['hello' , 'world'], ['hello' , 'world']];  //a row with 2 columns
                var ws = XLSX.utils.aoa_to_sheet(ws_data[i].dataSheet);
                wb.Sheets[ws_data[i].nameSheet] = ws;
            }


            var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});

            var s2ab = function (s) {
                var buf = new ArrayBuffer(s.length); //convert s to arrayBuffer
                var view = new Uint8Array(buf);  //create uint8array as viewer
                for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF; //convert to octet
                return buf;
            }

            var bl = new Blob([s2ab(wbout)],{type:"application/octet-stream"});
            var a = document.createElement("a");
            document.body.appendChild(a);
            a.style = "display: none";
            var url = window.URL.createObjectURL(bl);
            a.href = url;
            a.download =  name+'.xlsx';
            a.click();
            window.URL.revokeObjectURL(url);
        }
    }

    function notValid(dom, msg) {
        dom.style.borderColor='red';
        Notifications.toast(msg);
    }

	class Editor{
		//{id:id, table:table, event:saveEvent, wrapper:wrapper = 'wrapper_modal_form'}
		constructor(sett, wrapper, events)
		{
            //console.log('create Editor');
            //console.log(sett);
			//id, table, saveEvent, wrapper='wrapper_modal_form'


			var self = this;
			this.saveEvent = events;
			this.wrapper = document.getElementById(wrapper);

			if (UtilAdmin.getParamsURL('tp') != null && UtilAdmin.getParamsURL('tp_id') != null){
                sett.tp = UtilAdmin.getParamsURL('tp');
                sett.tp_id = UtilAdmin.getParamsURL('tp_id');
			}
            //console.log(1);
			//console.log(this.data);
			mRrequest('getEditor', sett, function (response) {
                //console.log(response.length);
                //console.log(self.wrapper == null);
				self.wrapper.innerHTML = response;
				self._events();
			});
			//self.wrapper.innerHTML = response;
			//self._events();
		}

		_events(){
			var self = this;
            console.log(1);
			var inputs = Array.from(this.wrapper.querySelectorAll('input[name]'));
			//console.log(inputs.length);
			for (var i = 0; i < inputs.length; i++) {
				inputs[i].addEventListener('input', function (event) {
					//console.log('change');
					event.currentTarget.style.borderColor='';
				})
			}

			var btnSave = this.wrapper.querySelector('a[data-action="save"]');
			if (btnSave != null){
				btnSave.addEventListener('click', function () {
					self.send('editRow');
				});
			}

			var btnDel = this.wrapper.querySelector('a[data-action="del"]');
			if (btnDel != null){
				btnDel.addEventListener('click', function () {
					self.send('delRow');
				});
			}

            var btnEdit = this.wrapper.querySelector('a[data-action="edit"]');
            if (btnEdit != null){
                btnEdit.addEventListener('click', function () {
                    var sett = {id:0, table:btnEdit.getAttribute('data-table')};

                    if (btnEdit.hasAttribute('data-server-action')){
                        sett.server_action = btnEdit.getAttribute('data-server-action');
                    }
                    if (btnEdit.hasAttribute('data-params')){
                        var params = JSON.parse(atob(btnEdit.getAttribute('data-params')));
                        for (var key in params){
                            sett[key] = params[key];
                        }
                    }
					console.log(sett)
                    self.loadEditor(sett);
                });
            }

            var btnPay = this.wrapper.querySelector('a[data-action="pay"]');
            if (btnPay != null){
                btnPay.addEventListener('click', function () {
                    //console.log(document.querySelector('input[name="pay"]:checked').value);
                    window.location.href='/_co/payOrder/?price='+document.querySelector('input[name="pay"]:checked').value;
                    //self.hiden();
                });
            }
/*
			var inputGeo = this.wrapper.querySelector('input[data-action="geo_autocmplete"]');
			if (inputGeo != null){
				this._initGeoAddress(inputGeo);
			}
			*/
			var inputMaxLength = this.wrapper.querySelectorAll('[maxlength]');
			for (var i = 0; i < inputMaxLength.length; i++) {
				InputField.input(inputMaxLength[i]);
			}

            var copyBtns = this.wrapper.querySelectorAll('[data-action="copy"]');
            for (var i = 0; i < copyBtns.length; i++) {
                copyBtns[i].addEventListener('click', function (event) {
                    var btn = event.currentTarget;
                    UtilAdmin.copyToClipboard(atob(btn.getAttribute('data-copy')));
                })
            }

            this.initRangeDate();

            //console.log(this.wrapper.querySelector('form').hasAttribute('onload'));
            if (this.wrapper.querySelector('form')!=null && this.wrapper.querySelector('form').hasAttribute('onload')){
                this.wrapper.querySelector('form').onload();
            }
		}

        loadEditor(sett)
        {
            var self = this;
            sett.type = 'form';

            editor = new Editor(sett, 'wrapper_modal_form', function () {
                editor.hiden();
                self.loadContent();
            });
            editor.show();
        }

		initRangeDate(){
            if (this.wrapper.querySelector('input[data-range="from"]') == null){
                return;
            }
            if (this.wrapper.querySelector('input[data-range="to"]') == null){
                return;
            }
            var startDate = null;
            var endDate = null;
            var dateFrom = null;
            var dateTo = null;


            new Lightpick({
                field: this.wrapper.querySelector('input[data-range="from"]'),
                secondField: this.wrapper.querySelector('input[data-range="to"]'),
                singleDate: false,
                minDays: 1,
                format:'DD.MM.YYYY',
                startDate:startDate,
                endDate:endDate,


                onSelect: function(start, end){
                    //console.log([start!= null, end != null]);
                    if (start != null && end != null){
                        dateFrom = start.unix();
                        dateTo = end.unix();
                    }
                    //console.log(start.unix());
                    //console.log(start);
                    //console.log(end);
                },

                onClose: function(start, end){
                    //if (dateFrom != null && dateTo != null){
                    //    var url = new URL(window.location.href);
                    //    url.searchParams.set('rangeFrom', dateFrom);
                    //    url.searchParams.set('rangeTo', dateTo);
                    //    window.location.href = url.toString();
                    //}
                    //console.log(start.unix());
                    //console.log(start);
                    //console.log(end);
                }
            });
        }

        /*
        _initGeoAddress(input)
        {

            var domLat = this.wrapper.querySelector('input[name="lat"]');
            var domLng= this.wrapper.querySelector('input[name="lng"]');
            var self = this;

            var initGeo = function () {
                //console.log(input == null);
                //console.log(user.lang);
                var autocomplete = new google.maps.places.Autocomplete(
                    input,
                    {
                        language: langSupport,
                        //types: ['address'],
                        //strictBounds: true
                    });

                autocomplete.addListener('place_changed',
                    function () {
                        var placeResult = autocomplete.getPlace();
                        //console.log(placeResult);
                        if (placeResult.geometry) {
                            console.log(placeResult);
                            setTimeout(function(){
                                var name = placeResult.formatted_address.split(', ');
                                //console.log(name);
                                input.value = name[0]+', '+name[1]+', '+name[2];
                            }, 1);

                            var loc = placeResult.geometry.location;
                            domLat.value = loc.lat();
                            domLng.value = loc.lng();
                            var selector = 'iframe[data-field="'+input.getAttribute('name')+'"]';
                            self.wrapper.querySelector(selector).src = 'https://maps.google.com/maps?width=100%&height=300&hl=en&ie=UTF8&t=&z=13&iwloc=B&output=embed&q='+loc.lat()+','+loc.lng();
                        }
                    });
            }


            if (document.querySelector('script[data-google]') == null){
                console.log(1);
                addGoogleMapLibrary(function () {
                    //onload
                    console.log(3);
                });
            } else {
                console.log(2)
                //initGeo();
            }

		}*/

        addField(dom){
            var selectDom = dom.closest('div').querySelector('select');
            var wrList = dom.closest('div.form-group').querySelector('div[data-add="wr_list"]');
            var selectOption = selectDom.options[selectDom.selectedIndex];
            if (selectOption == null){
                return;
            }


            var input = '';
            var baseName = selectDom.getAttribute('name');

            switch (selectOption.getAttribute('data-add')) {
                case 'single':
                    break;
                case 'multiple':
                    var nameInput = baseName + '_count_' + selectDom.value;
                    input = '<input name="'+nameInput+'" type="number" value="1" style="right: 20%; width: 5em; padding: 0px; position: absolute;" >';
                    break;
            }

            var nameSelect = baseName + '_select_' + selectDom.value;

            if (document.querySelector('input[name='+nameSelect+']')!= null){
                return;
			}

            wrList.innerHTML +=
                '<div data-add="item"> ' +
                	'<input type="hidden" name="'+nameSelect+'" value="'+selectDom.value+'">'+
                	'<label>'+selectOption.text+'</label>'+
                	input+
                	'<a class="btn btn-warning" style="position: absolute;right: 10px;" onclick="editor.delField(this)"><i class="fa fa-trash-o"></i></a>' +
                '</div>';
        }

        delField(dom){
            dom.closest("div").remove();
		}

		hiden()
		{
			if (this.wrapper.style.display != 'none'){
				this.wrapper.style.display = 'none';
			}
		}

		show(){
			if (this.wrapper.style.display != 'block'){
				this.wrapper.style.display = 'block';
			}
		}

		send (action)
		{
			var dataDom = Array.from(this.wrapper.querySelectorAll('[name]'));
			//console.log(dataDom.length);

			for (var i = 0; i < dataDom.length; i++) {
				if (!dataDom[i].validity.valid) {
				    if (dataDom[i].hasAttribute('required') || dataDom[i].value.length > 0){
                        notValid(dataDom[i], dataDom[i].validationMessage);
                        //console.log('not valid '+dataDom[i].getAttribute('name'));
                        return;
					}
				} else if (dataDom[i].hasAttribute('required') && dataDom[i].hasAttribute('data-addble')){
				    var wr = dataDom[i].closest('div.col-md-9').querySelector('div[data-add="wr_list"]');
				    var select = Array.from(wr.querySelectorAll('div[data-add="item"]'))
				    if (select.length == 0){
				        //Нiчoго не обрано!
						//console.log(CONTENT);
						//console.log(getContent('nothing_selected'));
                        notValid(dataDom[i], getContent('nothing_selected'));
                        return;
					}
                    //console.log('not valid '+dataDom[i].getAttribute('name'));

				}
			}

			var self = this;
			//console.log('----------------------------');
			//console.log(words);
			Notifications.toast(getContent('wait'));
			var fd = new FormData(this.wrapper.querySelector('form'));
			//console.log()
			mRrequest(action, fd, function (response) {
			    //console.log(response);
				if (response.hasOwnProperty('comment')){
					Notifications.toast(response.comment);
				} else {
					Notifications.toast(getContent('notification_save'));
				}
				self.saveEvent();
			});
		}
	}

	var fileHandler = {
		newFile:function (inputFile) {
			var files = Array.from(inputFile.files);
			var selWr = 'div[data-wrapper-name="'+inputFile.getAttribute('data-id')+'"]';
			var wr = document.querySelector(selWr);
			var wrTempl = Array.from(wr.querySelectorAll('div.block_file'));
			for (var i = 0; i < wrTempl.length; i++) {
				wrTempl[i].remove();
			}

			if (files.length > 0){
                this.checkFile(inputFile, files, wr)
			}
		},

		fileAccess:function(res, wr, inputFile, files){
		    if (res){
		        var imgs = '';
                for (var i = 0; i < files.length; i++) {
					imgs += '<img src="'+window.URL.createObjectURL(files[i])+'" class="scan" style="max-width: 100px">';
                }

                wr.innerHTML +=
                    '<div class="block_file">' +
					imgs +
                    '</div>';
			} else {
                inputFile.value = '';
                return;
			}
		},

		delFile:function (btn){
			console.log('del file');
			var fieldName = btn.getAttribute('data-field');
			var fieldNameDel = 'del_'+fieldName;
			btn.closest('div').querySelector('a[ target="_blank"]').remove();
			btn.closest('div').querySelector('div.block_file').remove();
			btn.closest('div').querySelector('input[data-id="'+fieldNameDel+'"]').value=1;
			btn.remove();
		},

		checkFile:function(inputFile, files, wr){
            for (var i = 0; i < files.length; i++) {
                var fileSize = files[0].size/1000;
                console.log(files[i]);

                if (fileSize < inputFile.getAttribute('data-min-size')){
                    Notifications.toast(getContent('small_file'));
                    //this.fileAccess(false, wr, inputFile, file);
                    return;
                }

                if (fileSize > inputFile.getAttribute('data-max-size')){
                    Notifications.toast(getContent('big_file'));
                    //this.fileAccess(false, wr, inputFile, file);
                    return;
                }
            }


            var self = this;
			if (inputFile.hasAttribute('data-size')){
			    var size = JSON.parse(inputFile.getAttribute('data-size'));
                this.checkWHImage(files[0], function (w,h) {
                    console.log(w == size[0] && h == size[1]);
                    if (w == size[0] && h == size[1]){
                        self.fileAccess(true, wr, inputFile, files);
                    } else {
                        self.fileAccess(false, wr, inputFile, files);
                        Notifications.toast(getContent('bad_size_file'));
                    }
                });
			} else {
                this.fileAccess(true, wr, inputFile, files);
			}
		},

		checkWHImage:function (file, fc) {
            var reader = new FileReader();
            //Initiate the JavaScript Image object.
            reader.readAsDataURL(file);
            reader.onload = function (e) {
                var image = new Image();
                image.src = e.target.result;
                //Validate the File Height and Width.
                image.onload = function () {
                    fc(this.width, this.height);
                    //console.log(width);
                };
            };
        }
	};

	var DialogConfirm = {
		func : null,
		confirm : function(){
			if (this.func != null){
				this.func();
			}

			this.hide();
		},

		show:function (msg, func) {
			if (!isUndefined(func)){
				this.func = func;
			}
			document.getElementById('modal_msg').innerHTML = msg;
			document.getElementById('wr_modal').style.display = 'block';
		},

		hide:function () {
			document.getElementById('wr_modal').style.display = 'none';
			this.func = null;
		}
	};

	var InputField = {
		input:function(dom){
            //console.log(dom.value);
            if (dom.hasAttribute('data-format')){
				Formater.format(dom, dom.getAttribute('data-format'));
			}
            //console.log(dom.value);
			if (dom.hasAttribute('maxlength')){
				var lengthMax = Number(dom.getAttribute('maxlength'));
				var lengthNow = dom.value.length;
                //console.log(1);
				if (lengthMax < lengthNow){
                    //console.log(2);
					dom.value = dom.value.substring(0, lengthNow - 1);
				} else {
                    //console.log(3);
					var q = 'label[data-name-field="'+dom.getAttribute('name')+'"]';
					//console.log(q);
					document.querySelector(q).innerHTML=lengthNow+'/'+lengthMax;
				}
			} else if (dom.hasAttribute('max')) {
                //console.log(4);
				var lengthMax = Number(dom.getAttribute('max'));
				var lengthNow = Number(dom.value);
				if (lengthMax < lengthNow){
                    //console.log(5);
					dom.value = lengthMax;
				}
			}

            //console.log(dom.hasAttribute('data-autocomplete'));
            if (dom.hasAttribute('data-autocomplete')){
                //console.log(1);
                autocompleteHandler.input(dom);
            }
            if (dom.hasAttribute('data-autocomplete-geo')){
                //console.log(1);
                autocompleteGeoHere.input(dom);
            }
            //console.log(dom.value);
		}
	};

	function cf(name, def) {
		if (document.querySelector('[name="'+name+'"]') != null){
            document.querySelector('[name="'+name+'"]').value = def;
		}
    }

    var autocompleteHandler = {

        currentFocus	: null,
        inputField  	: null,
        intId   		: null,//id timer
        arr     		: [],
        select  		: null,

        closeAllLists:function(elmnt) {
            /*close all autocomplete lists in the document,
            except the one passed as an argument:*/
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != this.inputField) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        },

        removeActive:function(x) {
            /*a function to remove the "active" class from all autocomplete items:*/
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        },

        input:function(dom){
            console.log('inp autocomplete');

            var name 	= dom.getAttribute('name');

            var keyFill = dom.getAttribute('data-autocomplete-fill');
            if (keyFill.length > 0){
                document.querySelector('[name="'+keyFill+'"]').value = '';
			}

            var keyID 	= dom.getAttribute('data-autocomplete');
            if (keyID.length > 0){
            	document.querySelector('[name="'+keyID+'"]').value = '0';
            }

			this.inputField = dom;
            //var arr = [[1,"Italy"], [3,"Spain"], [5,"Portugal"]];
            var self = this;
            if (this.intId != null){clearTimeout(this.intId)}

            this.intId = setTimeout(function () {
                this.intId = null;
                //data-autocomplete-add=""
                var data = {
                    id      : document.querySelector('input[name="id"]').value,
                    table   : document.querySelector('input[name="table"]').value,
                    value   : dom.value,
                    field   : dom.getAttribute('name'),
					add		: '',
                };

                var keyAddParams = dom.getAttribute('data-autocomplete-add');
				if (keyAddParams.length > 0) {
				    data.add = document.querySelector('[name="'+keyAddParams+'"]').value
				}

                mRrequest('autocomplete', data,
                    function (response) {
                        console.log(response);
                        self.createList(response.arr,  dom, name, keyFill, keyID);
                    });
            }, 1000);
        },

        createList:function (arr, dom, name, keyFill, keyID) {
            this.arr = arr;
            //console.log(this.arr);
            this.closeAllLists();

            //var arr = ["Italy", "Spain", "Portugal", "Spurt"];
            var a, b, i, val = dom.value;
            /*close any already open lists of autocompleted values*/
            if (!val) { return false;}
            this.currentFocus = -1;
            /*create a DIV element that will contain the items (values):*/
            a = createDOM('div', {id:dom.id + "autocomplete-list", class:"autocomplete-items"});
            //a = document.createElement("DIV");
            //a.setAttribute("id", dom.id + "autocomplete-list");
            //a.setAttribute("class", "autocomplete-items");
            /*append the DIV element as a child of the autocomplete container:*/
            dom.parentNode.appendChild(a);
            var self = this;
            /*for each item in the array...*/
            //console.log(arr);

			//[$row['id'], strval($row['phone']), $row['name']];
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                console.log(arr[i]);
                console.log(name);
                console.log(arr[i][name]);
                //console.log(arr[i][1].toUpperCase().indexOf(val.toUpperCase()));
				var valueItem = String(arr[i][name]);
                var index = valueItem.toUpperCase().indexOf(val.toUpperCase());
                //if (arr[i][1].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                //if (arr[i][1].toUpperCase().includes(val.toUpperCase())) {
                if (index > -1) {
                    //console.log('create');
                    /*create a DIV element for each matching element:*/
                    b = document.createElement("DIV");
                    /*make the matching letters bold:*/

                    b.innerHTML = valueItem.substr(0,index);
                    b.innerHTML += "<strong>" + valueItem.substr(index, val.length) + "</strong>";
                    b.innerHTML += valueItem.substr(index+val.length, valueItem.length);

                    /*insert a input field that will hold the current array item's value:*/
                    b.innerHTML += "<input type='hidden' value='" + valueItem + "'>";
                    b.innerHTML += "<input type='hidden' value='" + arr[i].id + "'>";
                    //console.log(arr[i]);
                    //console.log(keyID);
                    /*execute a function when someone clicks on the item value (DIV element):*/
                    b.addEventListener("click", function(e) {
                        /*insert the value for the autocomplete text field:*/
                        dom.value = this.getElementsByTagName("input")[0].value;
                        //input type="hidden" value="" name="{{column.input.field}}"
                        //dom.value = this.getElementsByTagName("input")[0].value;
                        var inputs = document.querySelector('[name="'+keyID+'"]');
                        inputs.value = this.getElementsByTagName("input")[1].value;
                        //console.log(this.getElementsByTagName("input").length);
                        console.log(inputs.value);

                        var idSel = Number(inputs.value);
                        /*close the list of autocompleted values,
                        (or any other open lists of autocompleted values:*/
                        self.closeAllLists();

                        console.log(self.arr);
                        for (var j = 0; j < self.arr.length; j++) {
                            if (idSel == self.arr[j].id){
                                self.select = self.arr[j];
                                if (keyFill.length > 0){
                                    document.querySelector('[name="'+keyFill+'"]').value = self.arr[j][keyFill];
								}

                                try {
                                    var selector = 'input[name="'+dom.getAttribute('name')+'"]';
                                    document.querySelector(selector).onchange();
                                } catch (e) {
                                }
                                return;
                            }
                        }
                    });

                    a.appendChild(b);
                }
            }
        }
    };


    var autocompleteGeoHere = {

        currentFocus	: null,
        inputField  	: null,
        intId   		: null,//id timer
        arr     		: [],
        select  		: null,

        closeAllLists:function(elmnt) {
            var x = document.getElementsByClassName("autocomplete-items");
            for (var i = 0; i < x.length; i++) {
                if (elmnt != x[i] && elmnt != this.inputField) {
                    x[i].parentNode.removeChild(x[i]);
                }
            }
        },

        removeActive:function(x) {
            for (var i = 0; i < x.length; i++) {
                x[i].classList.remove("autocomplete-active");
            }
        },

        input:function(dom){
            console.log('inp autocomplete');

            var name 	= dom.getAttribute('name');


            var keyID 	= dom.getAttribute('data-autocomplete');


            this.inputField = dom;
            //var arr = [[1,"Italy"], [3,"Spain"], [5,"Portugal"]];
            var self = this;
            if (this.intId != null){clearTimeout(this.intId)}

            this.intId = setTimeout(function () {
                this.intId = null;
                //data-autocomplete-add=""
                mRrequest('autocomplete', {
                        id      : document.querySelector('input[name="id"]').value,
                        table   : document.querySelector('input[name="table"]').value,
                        value   : dom.value,
                        field   : dom.getAttribute('name'),
                        action  : 'address'
                    },
                    function (response) {
                        console.log(response);
                        self.createList(response.places,  dom, name);
                    });
            }, 1000);
        },


        createList:function (arr, dom, name, keyID) {
            this.arr = arr;
            this.closeAllLists();
            //var arr = ["Italy", "Spain", "Portugal", "Spurt"];
            var a, b, i, val = dom.value;

            if (!val) { return false;}


            this.currentFocus = -1;
            //create a DIV element that will contain the items (values):
            a = createDOM('div', {id:dom.id + "autocomplete-list", class:"autocomplete-items"});
            dom.parentNode.appendChild(a);
            var self = this;
			//console.log(arr.length);
            for (i = 0; i < arr.length; i++) {
                /*check if the item starts with the same letters as the text field value:*/
                //console.log(arr[i]);
                var valueItem = String(arr[i].address);
                //if (arr[i][1].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                //if (arr[i][1].toUpperCase().includes(val.toUpperCase())) {

                //if (index > -1) {
                    //console.log('create');
                    //create a DIV element for each matching element:
                    b = document.createElement("DIV");
                    //make the matching letters bold:

                    b.innerHTML = valueItem;
                    //insert a input field that will hold the current array item's value:
                    b.innerHTML += "<input type='hidden' value='" + valueItem + "'>";
                    b.innerHTML += "<input type='hidden' value='" + arr[i].locationId + "'>";
                    //console.log(arr[i]);
                    //console.log(keyID);
                    //execute a function when someone clicks on the item value (DIV element):
                    b.addEventListener("click", function(e) {
                        //console.log(this.getElementsByTagName("input").length);
                        //console.log(this.getElementsByTagName("input")[1].value);
                        //console.log(inputs.value);

                        var idSel = this.getElementsByTagName("input")[1].value;
                        //close the list of autocompleted values,(or any other open lists of autocompleted values:
                        self.closeAllLists();

                        //console.log(idSel);
                        for (var j = 0; j < self.arr.length; j++) {
                            //console.log(self.arr[j].locationId);
                            //console.log(idSel == self.arr[j].locationId);
                            if (idSel == self.arr[j].locationId){
                                self.select = self.arr[j];

                                try {
                                    //var selector = 'input[name="'+dom.getAttribute('name')+'"]';
                                    //document.querySelector(selector).onchange();
                                    mRrequest('autocomplete', {
                                            id      : document.querySelector('input[name="id"]').value,
                                            table   : document.querySelector('input[name="table"]').value,
                                            value   : idSel,
                                            action  : 'geodecode'
                                        },
                                        function (response) {
                                            //console.log(response);
                                            var domLat = document.querySelector('input[name="lat"]');
                                            var domLng= document.querySelector('input[name="lng"]');
                                            dom.value = response.Address.Label;

                                            domLat.value = response.DisplayPosition.Latitude;
                                            domLng.value = response.DisplayPosition.Longitude;
                                            var selector = 'iframe[data-field="'+name+'"]';
                                            document.querySelector(selector).src = '/disp/statepage/omap.html?lat='+domLat.value+'&lng='+domLng.value;
                                        });
                                } catch (e) {
                                }
                                return;
                            }
                        }
                    });

                    a.appendChild(b);
                //}
            }
        }
    };

</script>


<script>
	//var contentSlave=null;
	var editor = null;
	var Menu  = {
		create:function(){
            var wrapper = document.querySelector('div[role=menu]');
            var linksMenu = document.querySelectorAll('a');
            for (var i = 0; i < linksMenu.length; i++) {
				var src = linksMenu[i].getAttribute('href');
				if (src != null){
                    //console.log(src)
                    if (src.indexOf('/?')>-1) {
                        src += '&tz='+TIME_ZONE;
                    } else {
                        src += '?tz='+TIME_ZONE;
                    }
                    linksMenu[i].setAttribute('href', src);
                }
            }

            if (UtilAdmin.getParamsURL('table') != null){
                if (wrapper.querySelector('li[data-menu-item="'+UtilAdmin.getParamsURL('table')+'"]') != null) {
                    wrapper.querySelector('li[data-menu-item="'+UtilAdmin.getParamsURL('table')+'"]').classList.add('current-page');
                } else if (wrapper.querySelector('li[data-submenu-item="'+UtilAdmin.getParamsURL('table')+'"]') != null) {
                    //ul class="nav child_menu"
					var item = wrapper.querySelector('li[data-submenu-item="'+UtilAdmin.getParamsURL('table')+'"]');
                    item.closest('ul').closest('li').classList.add('current-page');
                    console.log(item.closest('ul').closest('li') == null);
                    item.classList.add('current-page');
                    this.sub(
                        item.closest('ul').closest('li')
					);
                }
            } else if (UtilAdmin.getParamsURL('e') != null){
                if (wrapper.querySelector('li[data-menu-item="'+UtilAdmin.getParamsURL('e')+'"]') != null) {
                    wrapper.querySelector('li[data-menu-item="'+UtilAdmin.getParamsURL('e')+'"]').classList.add('current-page');
                } else if (wrapper.querySelector('li[data-submenu-item="'+UtilAdmin.getParamsURL('e')+'"]') != null) {
                    //ul class="nav child_menu"
                    var item = wrapper.querySelector('li[data-submenu-item="'+UtilAdmin.getParamsURL('e')+'"]');
                    item.closest('ul').closest('li').classList.add('current-page');
                    console.log(item.closest('ul').closest('li') == null);
                    item.classList.add('current-page');
                    this.sub(
                        item.closest('ul').closest('li')
                    );
                }
            }
		},

		sub:function(dom){
			DomHandler.classTransition(dom.querySelector('span'), ['fa-chevron-down', 'fa-chevron-up']);
		    DomHandler.hiden(dom.querySelector('ul'));
		},

		selectMenuItem : function(){
			//выход

			DomHandler.hiden(document.getElementById('wrapper_exit'))
		},

		exit:function(){
			mRrequest('logout', null, function () {});
		},
	};
	Menu.create();
	document.getElementById('exit_text').innerHTML = getContent('exit_text');
	document.getElementById('exit_ok').innerHTML = getContent('yes');
	document.getElementById('exit_czncel').innerHTML = getContent('no');

	function addGoogleMapLibrary(fc) {
	    var dom = createDOM('script', {
            src: 'https://maps.googleapis.com/maps/api/js?key={{activity.keys.gmap}}&libraries=places&lang={{activity.language}}&langs={{activity.languages | json_encode() | raw}}',
            async:'',
            defer:'',
            'data-google':''
        });
	    dom.onload = function(){fc()}
        document.body.appendChild(dom);
    }
</script>

</body>
</html>