<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body >

<div>
    <canvas id="player"></canvas>
    <br>
    <input type="button" onclick="wvPlayer.runVideo()" value="Run/Pause video">
    <input type="button" onclick="wvPlayer.stopVideo()" value="Stop">

    <div id="wr_stat_range" class="profile_nav slide-up-range" style="z-index: 1">
        <label id="t_now" style="font-weight: bold;">1</label>
        <br>

        <div id="tracker_event">
            <label style="left: 0px; position: relative;">0</label>
            <label id="t_end" style="right: 0px; position: absolute;">2</label>
            <!--
            <label style="left: 50%;position: absolute;" onclick="console.log(1234)">1</label>
            -->
        </div>

        <input id="hour_stat" type="range" oninput="wvPlayer.changeRange(this)" style="width: 100%" min="0" max="100" step="1" value="0">
    </div>
</div>

<div id="err">
    <!--
    <div>
        <p>created</p>
        <p>url:line</p>
        <p>error</p>
        <p>data</p>
    </div>
    -->
</div>
<script>
    var DEFAULT_LNG = '{{activity.language}}';
    var langSupport = JSON.parse('{{activity.languages}}');
    console.log(langSupport);
</script>
<script src="/public/js/v1/UtilAdmin.js"></script>
<script>
    var wvPlayer = {
        window:{width:0,height:0},
        cadrs:[],
        numbCadr : 0,
        canvasPl : document.getElementById('player'),
        ctxPl : null,
        indInt:null,
        pause:false,

        currentTime : document.getElementById('t_now'),
        endTime : document.getElementById('t_end'),

        range : document.getElementById('hour_stat'),
        lastCadr:null,
        counLoadImg:0,

        load:function(window, cadrs){
            this.cadrs = cadrs;
            this.window = window;
            this.ctxPl = this.canvasPl.getContext("2d");
            this.endTime.innerHTML = Math.round(cadrs.length/2);
            this._addPointsEvent();
        },

        _addPointsEvent:function(){
            var trEv = document.getElementById('tracker_event');
            var self = this;
            for (let i = 0; i < this.cadrs.length; i++) {
                this.cadrs[i].cadr = new Image();
                this.cadrs[i].cadr.onload = function(){
                    self.counLoadImg++;
                    if (self.cadrs.length == self.counLoadImg){
                        console.log('loaded');
                    }
                };
                console.log('{url_visit}'+this.cadrs[i].ca);
                this.cadrs[i].cadr.src = '{url_visit}'+this.cadrs[i].ca;

                if (this.cadrs[i].hasOwnProperty('ta') || this.cadrs[i].hasOwnProperty('er')){
                    console.log('event');
                    var pos = Math.round(i/this.cadrs.length * 100);
                    var cT = Math.round(i/2);
                    //<label style="left: 50%;position: absolute;" onclick="console.log(1234)">1</label>
                    var st = 'position:absolute;left:'+pos+'%;color:';
                    if (this.cadrs[i].hasOwnProperty('er')){
                        st += 'red;'
                    } else if (this.cadrs[i].hasOwnProperty('ta')) {
                        st += 'orange;'
                    }

                    trEv.appendChild(
                        createDOM('label', {style:st, onclick:'wvPlayer.goTo('+(pos-1)+')'}, cT+'')
                    );
                }
            }
        },

        runVideo:function(){
            var self = this;
            if (this.indInt!=null){
                this.pauseVideo();
                return;
            }

            this.indInt = setInterval(function (){
                if (self.pause){
                    console.log(1);
                    return;
                }

                if (self.numbCadr === self.cadrs.length){
                    console.log(2);
                    return;
                }

                self._showCadr();
            }, 500);
        },

        _showCadr(){
            /*var self = this;
            var img = null;
            if (this.cadrs[this.numbCadr].hasOwnProperty('ca')){
                img = new Image();//indLastCadr
                img.src = this.cadrs[this.numbCadr].ca;
                img.onload = function(){
                    self.lastCadr = img;
                    self._cadrLoaded();
                };
            } else {
                self._cadrLoaded();
            }*/
            this.lastCadr = this.cadrs[this.numbCadr].cadr;
            this._cadrLoaded();
        },

        _cadrLoaded:function (){
            if (this.lastCadr == null){
                return;}

            var w = this.window.width*0.6;
            var h = this.window.height*0.6;


            if (this.numbCadr>0){
                this.ctxPl.clearRect(0, 0, w, h);
            }
            //console.log(this.lastCadr.src);


            this.canvasPl.width = w;
            this.canvasPl.height = h;
            this.ctxPl.drawImage(this.lastCadr, 0, 0, w, h);

            this.currentTime.innerHTML = Math.round(this.numbCadr/2);
            this.range.value = Math.round(this.numbCadr/this.cadrs.length * 100);

            this.numbCadr++;
            if (this.numbCadr === this.cadrs.length){
                this.stopVideo();
            }

        },

        changeRange:function(dom){
            console.log(dom.value);
            this.goTo(dom.value);
        },

        goTo:function (cadr){
            this.range.value = cadr;
            this.numbCadr = Math.round(this.cadrs.length * cadr/100);
            this.currentTime.innerHTML = Math.round(this.numbCadr/2);
            if (this.pause){
                this._showCadr();
            }
        },

        pauseVideo:function() {
            this.pause = !this.pause;
        },

        stopVideo:function() {
            if (this.indInt == null){return;}
            this.lastCadr = null;
            this.numbCadr = 0;
            this.currentTime.innerHTML = '0';
            this.range.value = 0;

            clearInterval(this.indInt);
            this.indInt = null;
        }
    };


    window.onpageshow = function (){
        wvPlayer.load({width:'{width}',height:'{height}'}, {(web_visor|json_encode|raw)})
        //
        //var errs = JSON.parse('{(errors|json_encode|raw)}');
        var errs = {(errors | json_encode | raw)}

        for (var i = 0; i < errs.length; i++) {
            var er = errs[i];
            var d = new Date(er.created);

            document.getElementById('err').innerHTML
                += '<div>\n' +
                '        <p>'+d.toISOString()+'</p>\n' +
                '        <p>'+er.url+':'+er.line+'</p>\n' +
                '        <p>'+er.error+'</p>\n' +
                '        <p>'+er.data+'</p>\n' +
                '    </div>'
        }
    }

</script>
</body>
</html>