<div class="x_panel" id="panel">
    <div class="x_title">
        <h2>{{table.title}}</h2>
        <!--<ul class="nav navbar-right panel_toolbox">
            <li>
                <a class="collapse-link fa fa-chevron-up" data-table="collapse"></a>
            </li>
        </ul>-->
        <!--load table-->
        <div class="clearfix"></div>
    </div>

    <div class="x_content animated fadeInDown" data-table="x_content">
        {%for btn in table.headerBtn%}
            {% include 'actionBtn.html'  with {'btn':btn} %}
        {% endfor %}
        <div class="table_wrapper clearfix" style="overflow: hidden">
            <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                <div class="row">
                    <div class="" data-table="count_page" {%if table.hideCountPage %} style="display: none;" {% endif %}>
                        <label>{{table.words.display}}:</label>
                        <select data-action="table_length" class="form-control input-sm"
                                onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>

                    <div class="col-sm-4 col-xs-4" data-table="range">
                         <input size="8" type="text" data-range="from"  class="form-control input-sm"  style="display: inline">
                         <label>-</label>
                         <input size="8" type="text" data-range="to"   class="form-control input-sm"  style="display: inline">
                    </div>

                    {%if table.select %}
                        <div class="col-sm-4 col-xs-4">
                            <select data-action="select" size="1" class="form-control input-sm">
                                {%for option in table.select.options%}
                                <option value="{{option.value}}">{{option.text}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    <div class="" data-table="search" {%if table.hideSearch %} style="display: none;" {% endif %}>
                        <label>{{table.words.search}}:</label>
                        <input type="search" class="form-control input-sm" value="" data-action="table_search">
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table_info datatable table table-striped table-bordered dataTable no-footer" role="grid" data-update="{{table.update}}" style="{{table.style}}">
                            <thead>
                                <tr role="row">
                                    {%for header in table.headers%}
                                        <th {%if header.sort %} data-column="{{header.column}}" data-url="" class="sorting"{% endif %} colspan="{{header.colspan}}" {%if header.vertical %} style="writing-mode: vertical-lr;" {% endif %}>
                                            {%if table.words[header.shortcut] %}
                                                {{table.words[header.shortcut]}}
                                            {% else %}
                                                {{header.shortcut}}
                                            {% endif %}

                                        </th>
                                    {% endfor %}

                                    {%if table.actionTheadName %}
                                        <th>{{table.actionTheadName}}</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <!--<div class="dataTables_info" data-table="table_info">Показаны с 1 по 9 из 9 вхождений</div>-->
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers"  {%if table.hideCountPage %} style="display: none;" {% endif %}>
                            <ul class="pagination" >
                                <li class="paginate_button previous"><a tabindex="0" onclick="history.back();"> < </a></li>
                                <li class="paginate_button active"><a data-table="offset" tabindex="0"></a></li>
                                <li class="paginate_button next"><a data-table="next" tabindex="0" href=""> > </a></li>
                                <script>
                                    (function () {
                                        //sort
                                        var headers = Array.from(document.querySelectorAll('th.sorting'));
                                        var sortBy = UtilAdmin.getParamsURL('sortBy');
                                        var orderBy = UtilAdmin.getParamsURL('orderBy');
                                        
                                        for (var i = 0; i < headers.length; i++) {
                                            var column = headers[i].getAttribute('data-column');
                                            var urlCount = new URL(window.location.href);
                                            urlCount.searchParams.set('sortBy', column);
                                            urlCount.searchParams.set('orderBy', 'DESC');
                                            //console.log(column)
                                            if (column == sortBy){
                                                if (orderBy == 'ASC'){
                                                    headers[i].classList.remove('sorting');
                                                    headers[i].classList.add('sorting_asc');
                                                    urlCount.searchParams.set('orderBy', 'DESC');
                                                } else {
                                                    headers[i].classList.remove('sorting');
                                                    headers[i].classList.add('sorting_desc');
                                                    urlCount.searchParams.set('orderBy', 'ASC');
                                                    //console.log(urlCount.toString())
                                                }
                                            } else {
                                                //console.log(urlCount.toString())
                                            }
                                            headers[i].setAttribute('data-url', urlCount.toString());
                                            headers[i].addEventListener('click', function (e) {
                                                e = e || window.event;
                                                var dom = e.target || e.srcElement;
                                                window.location.href = dom.getAttribute('data-url');
                                            }, false)
                                        }


                                        //console.log([UtilAdmin.getParamsURL('rangeTo') == null, UtilAdmin.getParamsURL('rangeFrom') == null]);

                                        if (UtilAdmin.getParamsURL('rangeTo') == null || UtilAdmin.getParamsURL('rangeFrom') == null) {
                                            //endDate = new Date(Number(UtilAdmin.getParamsURL('rangeTo'))*1000);
                                            document.querySelector('div[data-table="range"]').remove()
                                            document.querySelector('div[data-table="count_page"]').classList.add('col-sm-6');
                                            document.querySelector('div[data-table="count_page"]').classList.add('col-xs-6');
                                            document.querySelector('div[data-table="search"]').classList.add('col-sm-6');
                                            document.querySelector('div[data-table="search"]').classList.add('col-xs-6');
                                        } else {
                                            document.querySelector('div[data-table="count_page"]').classList.add('col-sm-4');
                                            document.querySelector('div[data-table="count_page"]').classList.add('col-xs-4');
                                            document.querySelector('div[data-table="search"]').classList.add('col-sm-4');
                                            document.querySelector('div[data-table="search"]').classList.add('col-xs-4');
                                        }

                                        //search
                                        document.querySelector('input[data-action="table_search"]').value = UtilAdmin.getParamsURL('search');

                                        //navigation
                                        var domC = document.querySelector('select[data-action="table_length"]');
                                        domC.value = UtilAdmin.getParamsURL('count');

                                        var urlCount = new URL(window.location.href);
                                        urlCount.searchParams.set('count', 25);
                                        domC.options[0].value = urlCount.toString();

                                        urlCount.searchParams.set('count', 50);
                                        domC.options[1].value = urlCount.toString();

                                        urlCount.searchParams.set('count', 100);
                                        domC.options[2].value = urlCount.toString();

                                        //{{table.next}}
                                        var currentOfset = Number(UtilAdmin.getParamsURL('offset'));
                                        document.querySelector('a[data-table="offset"]').innerHTML = currentOfset;

                                        var nextOfset = currentOfset+1;
                                        if (currentOfset == 1){
                                            document.querySelector('li.previous').remove();
                                        }

                                        var urlNext = new URL(window.location.href);
                                        urlNext.searchParams.set('offset', nextOfset);
                                        document.querySelector('a[data-table="next"]').href = urlNext.toString();
                                    })()
                                </script>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    class BaseTable{

        constructor(wrapperID)
        {
            this.select = null;
            this.domSearch = null;
            this.wrapper = document.getElementById(wrapperID);
            this.loadTable();
        }

        loadTable(){
            var self = this;
            this._addEventsTable();
            var updateContent = Number(this.wrapper.querySelector('table').getAttribute('data-update'));
            if (updateContent > 0){
                this.timerUpdate = setInterval(function () {
                    self.loadContent();
                }, updateContent*1000);
            }
            this.loadContent();
        }

        loadContent(){
            var self = this;
            mRrequest('getContentTable', this.getParams(), function (response) {
                //console.log(response.content);
                self.wrapper.querySelector('tbody').innerHTML = response;
                var btnAction = Array.from(self.wrapper.querySelector('tbody').querySelectorAll('[data-action]'));
                self._btnAddEvent(btnAction);
            });
        }

        _addEventsTable(){
            var self = this;
            var interval = null;
            this.domSearch = this.wrapper.querySelector('input[data-action="table_search"]');
            this.domSearch.addEventListener('input', function () {
                if (interval != null){
                    clearTimeout(interval);
                    interval = null;
                }
                interval = setTimeout(function (){self.loadContent();}, 1000);
            });
            this.domSearch.addEventListener('change', function () {
                var url = new URL(window.location.href);
                url.searchParams.set('search', this.value);
                window.location.href = url.toString();
            });



            this.select = this.wrapper.querySelector('select[data-action="select"]');
            if (this.select != null){
                this.select.addEventListener('change', function () {
                    self.loadContent();
                });
            }


            //console.log(range == null);
            if (UtilAdmin.getParamsURL('rangeFrom') != null && UtilAdmin.getParamsURL('rangeTo') != null){
                /**
                 * https://wakirin.github.io/Lightpick/#configuration
                 */

                var range = this.wrapper.querySelector('div[data-table="range"]');
                var startDate = null;
                var endDate = null;
                if (Number(UtilAdmin.getParamsURL('rangeFrom')) > 0) {
                    startDate = new Date((Number(UtilAdmin.getParamsURL('rangeFrom')))*1000);
                    //console.log(startDate.toISOString());
                }
                if (Number(UtilAdmin.getParamsURL('rangeTo')) > 0) {
                    endDate = new Date((Number(UtilAdmin.getParamsURL('rangeTo')))*1000);
                }

                var dateFrom = null;
                var dateTo = null;
                //console.log('Lightpick')
                new Lightpick({
                    field: range.querySelector('input[data-range="from"]'),
                    secondField: range.querySelector('input[data-range="to"]'),
                    singleDate: false,
                    minDays: 1,
                    format:'DD.MM.YYYY',
                    startDate:startDate,
                    endDate:endDate,
                    //lang:'en-EN',

                    onSelect: function(start, end){
                        console.log([start!= null, end != null]);
                        if (start != null && end != null){
                            dateFrom = start.unix();
                            dateTo = end.unix();
                            //console.log(dateFrom);
                            //console.log(dateFrom-TIME_ZONE);
                            //console.log(TIME_ZONE);
                        }
                    },

                    onClose: function(start, end){
                        if (dateFrom != null && dateTo != null){
                            var url = new URL(window.location.href);
                            url.searchParams.set('rangeFrom', dateFrom);
                            url.searchParams.set('rangeTo', dateTo);
                            //console.log(dateFrom);
                            //console.log(dateTo);

                            window.location.href = url.toString();
                        }
                        //console.log(start.unix());
                        //console.log(start);
                        //console.log(end);
                    }
                });
            }

            //var btnDel = Array.from(this.wrapper.querySelectorAll('a[data-action="delete"]'));
            //this._btnAddEvent(btnDel);
            var copyBtns = this.wrapper.querySelectorAll('[data-action="copy"]');
            for (var i = 0; i < copyBtns.length; i++) {
                copyBtns[i].addEventListener('click', function (event) {
                    var btn = event.currentTarget;
                    UtilAdmin.copyToClipboard(atob(btn.getAttribute('data-copy')));
                })
            }


            var btnAction = Array.from(document.querySelectorAll('[data-action]'));
            var btnAction = Array.from(this.wrapper.querySelectorAll('a[data-action]'));
            this._btnAddEvent(btnAction);
        }

        _btnAddEvent (btnArr)
        {
            var self = this;
            for (var i = 0; i < btnArr.length; i++) {
                console.log(btnArr[i].tagName);
                btnArr[i].addEventListener('click', function (event) {
                    var btn = event.currentTarget;
                    var action = btn.getAttribute('data-action');
                    var id = btn.getAttribute('data-id');
                    var table = btn.getAttribute('data-table');
                    switch (action){
                        case 'edit':
                            var sett = {id:id, table:table};

                            if (btn.hasAttribute('data-tp')){
                                sett.tp = btn.getAttribute('data-tp');
                            }
                            if (btn.hasAttribute('data-server-action')){
                                sett.server_action = btn.getAttribute('data-server-action');
                            }
                            if (btn.hasAttribute('data-params')){
                                var params = JSON.parse(atob(btn.getAttribute('data-params')));
                                for (var key in params){
                                    sett[key] = params[key];
                                }
                            }

                            self.loadEditor(sett);
                            break;

                        case 'delete':
                            DialogConfirm.show(btn.getAttribute('data-msg'), function () {self.quick(btn);});
                            break;

                        case 'copy':
                            UtilAdmin.copyToClipboard(atob(btn.getAttribute('data-copy')));
                            break;

                        case 'download':
                            mRrequest('downloadTable', self.getParams(), function (response) {
                                console.log(response);
                                if (response.hasOwnProperty('link') && response.link.length > 0){
                                    document.location.href = response.link;
                                }
                            });
                            break;

                        case 'window':
                            //WindowFilter
                            editor = new WindowFilter(id,  table, function () {
                                editor.hiden();
                            });
                            editor.hiden();
                            break;

                        case 'quick':
                            if (btn.hasAttribute('data-msg')){
                                DialogConfirm.show(btn.getAttribute('data-msg'), function () {self.quick(btn);});
                            } else {
                                self.quick(btn);
                            }
                            break;
                    }
                });
            }
        }

        quick(dom){
            //editRow-{"id":"1","lang":"RU","login":"688888514","pass":"963451","orders_max":"10","name":"Sergio","surname":"Pups","balance":"0","block":"0","subData":"{\"id\":-1,\"table\":\"cleaner\",\"table_parent\":\"\"}"}-/admin/editRow/?time_zone=-10800
            var data = {
                id:dom.getAttribute('data-id'),
                server_action:dom.getAttribute('data-server-action'),
                table:UtilAdmin.getParamsURL('table')
            };
            console.log(JSON.stringify(data));

            var self = this;
            var action = dom.getAttribute('data-action');
            mRrequest(action, data, function (response) {
                ///console.log(response);
                Notifications.toast('{{activity.word.complete}}');
                self.loadContent();
            });
        }

        loadEditor(sett)
        {
            var self = this;
            sett.type = 'form';

            editor = new Editor(sett, 'wrapper_modal_form', function () {
                editor.hiden();
                self.loadContent();
            });
            editor.show();
        }

        getParams(){
            //console.log('getParams');
            var res = Object.fromEntries(new URLSearchParams(location.search));
            //console.log(res);
            res.search  = this.domSearch.value;
            if (this.select != null){
                res.select = this.select.value;
            }
            //console.log(res);
            return res;
        }
    }

    class MainTable extends BaseTable
    {
        constructor(){
            //console.log(table);
            super('wrapper_content');
            //if (contentSlave instanceof SlaveTable){
            //    contentSlave.hiden();
            //    contentSlave = null;
            //    this.hiden();
            //}
        }
    }


    var content=null;
    EvPageShow.add1 = function (){
        var table = UtilAdmin.getParamsURL('table');

        var table_parent = UtilAdmin.getParamsURL('tp');
        if (table_parent == null){
            table_parent = '';
        }

        var data = {
            parent_id:UtilAdmin.getParamsURL('id')
        };

        if (data.parent_id == null){
            data.parent_id = -1;
        }

        content = new MainTable();
    };
</script>