{% for row in table.rows %}
    <tr  {%if row.color %} style="background: {{row.color}}" {% endif %}>
        {% for column in row.columns %}
            {% if column is iterable %}
                {%if column.background %}
                    <td style="background: {{column.background}}"
                        {% if column.action %} data-action="{{column.action}}" data-id="{{column.id}}" data-table="{{column.table}}"{% endif %}
                        {% if column.params %} data-params="{{column.params}}" {% endif %}
                        >{{column.val|raw}}</td>
                {% else %}
                    <td>{% include 'actionBtn.html'  with {'btn':column} %}</td>
                {% endif %}
            {% else %}
                <td>{{column|raw}}</td>
            {% endif %}

        {% endfor %}


        {% if table.actionsBtn or row.actionsBtn %}
            <td>
                {% if table.actionsBtn %}
                    {%for btn in table.actionsBtn%}
                        {% include 'actionBtn.html'  with {'btn':btn} %}
                    {% endfor %}
                {% endif %}

                {% if row.actionsBtn %}
                    {%for btn in row.actionsBtn%}
                        {% include 'actionBtn.html'  with {'btn':btn} %}
                    {% endfor %}
                {% endif %}
            </td>
        {% endif %}
    </tr>
{% endfor %}